:root {
  font-family: Roboto;
  line-height: 1.5;
  font-weight: 500;
  width: 100%;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #000000; */
  background-image: url("./assets/mlem-min.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: screen;
  background-position-y: top;
  color-scheme: light dark;
}
#root {
  width: 100%;
  margin-top: 1rem;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.font-gradient {
  background: linear-gradient(90deg, #e7407b 0%, #d49210 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes hero-gradient-animation_dark {
  0% {
    --c-0: hsla(339.0000000000001, 65%, 63%, 0.78);
    --x-0: 83%;
    --y-0: 4%;
    --s-start-0: 4.721435316336166%;
    --s-end-0: 24.721068183243332%;
    --c-1: hsla(340, 100%, 76%, 1);
    --x-1: 15%;
    --y-1: -2%;
    --s-start-1: 0%;
    --s-end-1: 21.727766131769386%;
    --c-2: hsla(38.999999999999986, 100%, 67%, 0);
    --x-2: 7%;
    --y-2: 108%;
    --s-start-2: 0%;
    --s-end-2: 50%;
    --c-3: hsla(339.0000000000001, 65%, 63%, 0);
    --x-3: 93%;
    --y-3: 95%;
    --s-start-3: 0%;
    --s-end-3: 50%;
    --c-4: hsla(39.27272727272728, 100%, 67%, 1);
    --x-4: 0%;
    --y-4: 0%;
    --s-start-4: 0%;
    --s-end-4: 17.55364370111181%;
    --c-5: hsla(39.27272727272724, 100%, 67%, 1);
    --x-5: 103%;
    --y-5: 2%;
    --s-start-5: 4.721435316336166%;
    --s-end-5: 27.674570704992366%;
  }

  100% {
    --c-0: hsla(38.999999999999986, 100%, 67%, 0.23);
    --x-0: 34%;
    --y-0: -2%;
    --s-start-0: 5.901794060383163%;
    --s-end-0: 33.886291114871966%;
    --c-1: hsla(340, 100%, 76%, 1);
    --x-1: -1%;
    --y-1: 16%;
    --s-start-1: 4.721435316336166%;
    --s-end-1: 15.732343348414416%;
    --c-2: hsla(339.0000000000001, 65%, 63%, 0);
    --x-2: 0%;
    --y-2: 94%;
    --s-start-2: 5;
    --s-end-2: 54;
    --c-3: hsla(339.0000000000001, 65%, 63%, 0);
    --x-3: 41%;
    --y-3: 102%;
    --s-start-3: 5;
    --s-end-3: 54;
    --c-4: hsla(39.27272727272728, 100%, 67%, 1);
    --x-4: 0%;
    --y-4: 39%;
    --s-start-4: 5;
    --s-end-4: 23.93555775538029%;
    --c-5: hsla(343, 100%, 76%, 1);
    --x-5: 105%;
    --y-5: 80%;
    --s-start-5: 4.721435316336166%;
    --s-end-5: 20.82411754345196%;
  }
}

@property --c-0 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(339.0000000000001, 65%, 63%, 0.78);
}

@property --x-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 83%;
}

@property --y-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 4%;
}

@property --s-start-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 4.721435316336166%;
}

@property --s-end-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 24.721068183243332%;
}

@property --c-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(340, 100%, 76%, 1);
}

@property --x-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 15%;
}

@property --y-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: -2%;
}

@property --s-start-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --s-end-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 21.727766131769386%;
}

@property --c-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(38.999999999999986, 100%, 67%, 0);
}

@property --x-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 7%;
}

@property --y-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 108%;
}

@property --s-start-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --s-end-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 50%;
}

@property --c-3 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(339.0000000000001, 65%, 63%, 0);
}

@property --x-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 93%;
}

@property --y-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 95%;
}

@property --s-start-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --s-end-3 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 50%;
}

@property --c-4 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(39.27272727272728, 100%, 67%, 1);
}

@property --x-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --y-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --s-start-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --s-end-4 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 17.55364370111181%;
}

@property --c-5 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(39.27272727272724, 100%, 67%, 1);
}

@property --x-5 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 103%;
}

@property --y-5 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 2%;
}

@property --s-start-5 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 4.721435316336166%;
}

@property --s-end-5 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 27.674570704992366%;
}

.dark-gradient-background-animation {
  --c-0: hsla(339.0000000000001, 65%, 63%, 0.78);
  --x-0: 83%;
  --y-0: 4%;
  --c-1: hsla(340, 100%, 76%, 1);
  --x-1: 15%;
  --y-1: -2%;
  --c-2: hsla(38.999999999999986, 100%, 67%, 0);
  --x-2: 7%;
  --y-2: 108%;
  --c-3: hsla(339.0000000000001, 65%, 63%, 0);
  --x-3: 93%;
  --y-3: 95%;
  --c-4: hsla(39.27272727272728, 100%, 67%, 1);
  --x-4: 0%;
  --y-4: 0%;
  --c-5: hsla(39.27272727272724, 100%, 67%, 1);
  --x-5: 103%;
  --y-5: 2%;
  background-color: hsla(218.99999999999997, 0%, 7%, 1);
  background-image: radial-gradient(
      circle at var(--x-0) var(--y-0),
      var(--c-0) var(--s-start-0),
      transparent var(--s-end-0)
    ),
    radial-gradient(
      circle at var(--x-1) var(--y-1),
      var(--c-1) var(--s-start-1),
      transparent var(--s-end-1)
    ),
    radial-gradient(
      circle at var(--x-2) var(--y-2),
      var(--c-2) var(--s-start-2),
      transparent var(--s-end-2)
    ),
    radial-gradient(
      circle at var(--x-3) var(--y-3),
      var(--c-3) var(--s-start-3),
      transparent var(--s-end-3)
    ),
    radial-gradient(
      circle at var(--x-4) var(--y-4),
      var(--c-4) var(--s-start-4),
      transparent var(--s-end-4)
    ),
    radial-gradient(
      circle at var(--x-5) var(--y-5),
      var(--c-5) var(--s-start-5),
      transparent var(--s-end-5)
    );
  animation: hero-gradient-animation_dark 10s linear infinite alternate;
  background-blend-mode: normal, normal, normal, normal, normal, normal;
}

/* Light gradient */

@keyframes hero-gradient-animation_light {
  0% {
    --c-0: hsla(339.1735537190083, 65%, 63%, 0.05);
    --x-0: 36%;
    --y-0: 2%;
    --s-start-0: 6%;
    --s-end-0: 80%;
    --c-1: hsla(39.28571428571425, 100%, 67%, 0.05);
    --x-1: 96%;
    --y-1: 106%;
    --s-start-1: 6%;
    --s-end-1: 80%;
  }

  100% {
    --c-0: hsla(39.272727272727224, 100%, 67%, 0.05);
    --x-0: 99%;
    --y-0: 17%;
    --s-start-0: 6%;
    --s-end-0: 80%;
    --c-1: hsla(339.0243902439024, 65%, 62%, 0.05);
    --x-1: 0%;
    --y-1: 34%;
    --s-start-1: 6%;
    --s-end-1: 80%;
  }
}

@property --c-0 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(339.1735537190083, 65%, 63%, 0.05);
}

@property --x-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 36%;
}

@property --y-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 2%;
}

@property --s-start-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 6%;
}

@property --s-end-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 80%;
}

@property --c-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(39.28571428571425, 100%, 67%, 0.05);
}

@property --x-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 96%;
}

@property --y-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 106%;
}

@property --s-start-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 6%;
}

@property --s-end-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 80%;
}

.light_gradient-background-animation {
  --c-0: hsla(339.1735537190083, 65%, 63%, 0.05);
  --x-0: 36%;
  --y-0: 2%;
  --c-1: hsla(39.28571428571425, 100%, 67%, 0.05);
  --x-1: 96%;
  --y-1: 106%;
  background-color: hsla(279.99999999999994, 0%, 100%, 0);
  background-image: radial-gradient(
      circle at var(--x-0) var(--y-0),
      var(--c-0) var(--s-start-0),
      transparent var(--s-end-0)
    ),
    radial-gradient(
      circle at var(--x-1) var(--y-1),
      var(--c-1) var(--s-start-1),
      transparent var(--s-end-1)
    );
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: normal, normal;
}
