.HomePage {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Make the container fill the page */
  padding-bottom: 10rem;
}
.Body {
  height: 100%; /* Ensure the body and html take full height */
  margin: 0; /* Remove default margins */
  overflow: hidden; /* Prevent scrolling */
}
